<%- include('layouts/header') %>


    <%- include('layouts/nav') %>


        <!-- <h1>Ini adalah halaman About</h1> -->
        <div class="container p-5">
            <div class="row">
                <div class="col text-center">
                    <img src="img/profile-icon.png" alt="profile-picture" class="img-thumbnail rounded-circle"
                        width="100px" />
                    <h1 class="display-4">Fazar Budiman</h1>
                    <p class="lead">Mahasiswa</p>
                </div>
            </div>
        </div>


        <%- include('layouts/footer') %>